<h2>This is a page to accept letters for app for ma babes!</h2>



<%= form_for @letter do |f| %>
  <%= f.label :words %>
  <%= f.text_area :words, size: "70x10" %>
  <%= f.submit "submit words" %>
<% end %>